{% extends 'gantt_chart/base.html' %}
{% block content %}



    {% if user.is_authenticated %}
<!-- logged in -->

    <!-- <h5>Project</h5>
    <form method="POST">
    <input type="text">
    {% csrf_token %}
    {{ project_form.as_p }}
    <button class="btn btn-sm btn-outline-secondary" type="submit" name="project">Create</button>
    </form> -->


    <div class="view-container">

        <div class="row rounded" >
            <div class="col-md-2 rounded">
              <p class="align-middle">Projects</p>
            </div>
            <div class="col-md-10 border border-white rounded p-3 bg-light">
                <p class="align-middle">gantt_chart</p>


                <div class="container" id="projects">


        
                    <div class="row border border-secondary rounded " id="header" >
                        <div class="col-md-3 rounded" style="height: 50px;">
                          <p class="align-middle">Name</p>
                        </div>
                        <div class="col-md-9 rounded p-3" id="days-titles" style="height: 50px;">
                        </div>
                      </div>
                    
            
            
                  </div>
                <div style="height: 10px;">                    
                </div>
                  <div class="container" id="functinos">
                      <button class="btn btn-sm btn-outline-secondary" id="addTask">add task</button>
                      <button class="btn btn-sm btn-outline-secondary" id="addWeek">add week</button>
                  </div>




            </div>
          </div>
        



    </div>



    {% else %}
<!--  not logged in  -->
        Thank you for visiting this webssite.
        Some more text.


        Log in to create chart.

    {% endif %}

{% load static %}
<script type = "text/javascript" src="{% static 'scripts/ganttChart.js'%}"></script>

{% endblock %}