{% extends 'gantt_chart/base.html' %}
{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'styles/styles.css'%}">



    {% if user.is_authenticated %}
<!-- logged in -->




    <div class="view-container">

        <div class="row rounded" >
            <div class="col-md-2 rounded">
              <p class="align-middle">Projects</p>

              <div>
                <form>
                  {% for project in projectList %}
                  <div class="row">
                  <button class="btn btn-sm btn-outline-secondary border-0 project-selection-button" type="submit" name="projectName" value="{{ project.title }}">{{ project.title }}</button>
                  </div>
                  {% endfor %}
                </form>
              </div>

            </div>
            <div class="col-md-10 border border-white rounded p-3 bg-light">
                <p class="align-middle">
                  Project Title
                  <input class ="align-middle form-control w-25" id="projectName">

                </p>

                <div class="container" id="projects">


        
                    <div class="row border border-secondary rounded " id="header" >
                        <div class="col-md-3 rounded" style="height: 50px;">
                          <p class="align-middle">Name</p>
                        </div>
                        <div class="col-md-9 rounded p-3" id="days-titles" style="height: 50px;">
                        </div>
                      </div>
                    
            
            
                  </div>
                <div style="height: 10px;">                    
                </div>
                  <div class="container" id="functinos">
                      <button class="btn btn-sm btn-outline-secondary" id="addTask">Add task</button>
                      <button class="btn btn-sm btn-outline-secondary" id="addWeek">Add week</button>
                      <!-- save to be moved to the right hand side -->
                     
                      <form action="{% url 'home' %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-sm btn-outline-secondary" type="submit" >Save</button>
                        {{jsonForm.as_p}}
                        <!-- {{jsonForm.as_hidden}} -->


                      </form>
                      
                    </div>




            </div>
          </div>
        



    </div>



    {% else %}
<!--  not logged in  -->
        Thank you for visiting this webssite.
        Some more text.


        Log in to create chart.

        

    {% endif %}

{% csrf_token %}
{% load static %}
<script type = "text/javascript" src="{% static 'scripts/ganttChart.js'%}"></script>

{% endblock %}